@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gibson", serif;
    src: url("../src/utils/fonts/gibson-bold.otf");
    font-weight: bold;
    font-style: bold;
  }
  @font-face {
    font-family: "proxima-nova", sans-serif;
    src: url("../src/utils/fonts/proxima-nova-bold.otf");
    font-weight: bold;
    font-style: bold;
  }
}

html {
  scroll-behavior: smooth;
}
